/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


/* Ajoutez ces classes d'animation */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.active {
    opacity: 1;
    transform: translateY(0);
}


/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f5a623;
}

/* Sections */
section {
    margin: 40px 0;
}

h2 {
    color: #333;
}

/* Styles pour les cartes de projet */
.project-card {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

/* Styles pour les images de fond des cartes */
.card-image {
    position: relative;
    overflow: hidden;
    height: 200px; 
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat; 
    border-radius: 10px
}

/* Styles pour l'overlay au survol de la carte */
.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5a623; 
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* Styles pour le lien GitHub au survol */
.github-link img {
    width: 40px;
    height: auto;
    transition: opacity 0.3s ease;
    opacity: 0;
}

/* Afficher l'overlay et l'icône GitHub au survol de la carte */
.project-card:hover .card-overlay {
    opacity: 1;
}

.project-card:hover .github-link img {
    opacity: 1;
}

/* Styles pour le contenu de la carte */
.card-content {
    text-align: center;
    padding: 20px;
}

.card-content h3 {
    color: #333;
}

/* Styles pour les compétences */
.skill {
    margin-bottom: 20px;
}

.skill-name {
    font-weight: bold;
}

.skill-name img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

/* Styles pour la barre de progression */
.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    width: 0;
    height: 100%;
    background-color: #f5a623;
    transition: width 1s ease;
}



/* Styles pour le formulaire de contact */
form {
    margin-top: 20px;
    margin-right: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 150px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #f5a623;
}

/* Footer */
footer {
    padding: 20px 0;
    text-align: center;
}


/* Liens Sociaux */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.social-icons a:hover {
    color: #f5a623;
}

.social-icons a img {
    width: 24px;
    height: auto;
}
